/* Index page styling */

body {
  align-items: center;
}

h1 {
  font-size: 5rem;
}

#room-container {
  width: 80%;
  max-width: 1200px;
  margin-top: 50px;
  text-align: center;
  background-color: #fff;
}

#room-container div {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

#room-container a {
  font-size: 1rem;
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#make-room {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

input[name="room"] {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
}
