/* Global styling */
@font-face {
  font-family: "Medodica"; /*a name to be used later*/
  src: url("MedodicaRegular.otf"); /*URL to font*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Medodica";
}

body {
  background-color: #037b7a;
  color: #333;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

button {
  background-color: #9e9a9b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #585858;
}
