/* Global styling */
@font-face {
  font-family: "Medodica"; /*a name to be used later*/
  src: url("MedodicaRegular.otf"); /*URL to font*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Medodica";
}

#bannerContainer {
  background-color: #6a69ff;
  width: 100%;
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  padding: 10px; /* Optional: Adds some padding around the items */
}

img #logo {
  max-width: 100%;
  max-height: 160vh;
}

body {
  background-color: #037b7a;
  color: #333;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

button {
  background-color: #d6d7d1;
  color: black;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px #3e3e3d;
  border-bottom: solid 1px #3e3e3d;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #585858;
}
